fastapi
uvicorn
scikit-learn
joblib
numpy
pandas
pydantic
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation-fastapi
# Uncomment if using OTLP exporter:
# opentelemetry-exporter-otlp-proto-http
dvc-gs
mlflow 
xgboost 
shap 
fairlearn 
matplotlib 
seaborn
locust