name: CI-CD to GCP Artifact Registry

on:
  push:
    branches:
      - main

env:
  REGION: ${{ secrets.GCP_REGION }}
  REPO_NAME: mlops-ope2-mock-practice
  IMAGE_NAME: fraud-api

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Authenticate to Google Cloud
      uses: google-github-actions/auth@v2
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v2
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        install_components: '["gke-gcloud-auth-plugin"]'

    - name: Configure Docker for Artifact Registry
      run: |
        gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev --quiet

    - name: Build Docker image
      run: |
        IMAGE_URI=${{ env.REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPO_NAME }}/${{ env.IMAGE_NAME }}:latest
        echo "IMAGE_URI=$IMAGE_URI" >> $GITHUB_ENV
        docker build -t $IMAGE_URI .

    - name: Push Docker image
      run: |
        docker push $IMAGE_URI

    # ======================
    # CML REPORTING
    # ======================
    - name: Install CML
      run: npm install -g @dvcorg/cml

    - name: CML Report
      env:
        REPO_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        echo "### CI/CD Build Status" >> report.md
        echo "- Docker build & push to Artifact Registry: SUCCESS" >> report.md
        echo "- Image: $IMAGE_URI" >> report.md
        cml comment create report.md
